@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Raleway:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  background-color: #444857;
  font-family: sans-serif;
  transition: background-color 1s;
}

#quote-box {
  background-color: white;
  width: 550px;
  padding: 2em;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}
#quote-box a {
  display: inline-grid;
  place-items: center;
  width: 40px;
  height: 40px;
}
#quote-box #quote-text {
  text-align: center;
}
#quote-box #quote-text svg {
  margin-right: 0.5em;
}
#quote-box #text,
#quote-box #author {
  color: rgba(0, 0, 0, 0.8);
  transition: color 1s;
}
#quote-box #text {
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
}
#quote-box #author {
  text-align: right;
}
#quote-box .btn {
  border-radius: 4px;
  background-color: #444857;
  height: 40px;
  transition: background-color 1s;
}
#quote-box > div:last-child {
  display: flex;
  gap: 0.5em;
}
#quote-box > div:last-child #new-quote {
  font-weight: 500;
  margin-left: auto;
  padding: 0 1em;
}

footer {
  text-align: center;
  padding: 1em;
}
footer a {
  font-weight: 700;
}

